<title>Immunization Project: Plot</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<script src="/static/d3.min.js"></script>
<script src="/static/plotly-latest.min.js"></script>
<script src="/static/underscore-min.js"></script>
<style>
#controls {
	margin-bottom: 8px;
}
</style>

<h1>Disagreement</h1>

<p>Despite the historical success of vaccination, not everyone agrees is
confident in its safety or believes it should be universally required. This
gap between medical effectiveness and social acceptance creates a health
care problem.</p>

<p>In the chart below, note the large number of Western economies--historically
the first to experience the benefits of vaccination, and the most able to afford
the practice--with relatively large fractions of the population disagreeing.</p>

<div id="controls">
	<select onchange="plotDisagrees(this.value)">
		<option value="alpha">Alphabetically</option>
		<option value="ascend">Low to High</option>
		<option value="descend">High to Low</option>
	</select>
</div>

<div id="disagrees"></div>

<script src="/static/plot.js"></script>
<script>
load_disagrees(plotDisagrees);
</script>

